@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        padding: 32px 24px 0;
    }
    .wrapper{
        max-width: 768px;
    }
    .card-row{
        margin: 0 -16px;
    }
    .card{
        padding: 0 16px;
        width: 240px;
    }
    .card img{
        width: 218px;
    }
}